* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


:root {
  --primeira-cor: #f80;
  --seconda-cor: #1b2e42;
  --primeiropreto: #e07800;
  --segundopreto: #1b2e42;;
  --luzcor: #e9e9e9;
  --corpreta: #2c2c2c;
}

body {
  font-family: Arial;
  color: var(--corpreta);
}

a {
  text-decoration: none;
  color: unset;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

input {
  border: none;
  outline: none;
}

input[type="search"] {
  border: none;
  outline: none;
}

/* NAV */
.nav {
  background: linear-gradient(to right, #1b2e42,#ffffff);
  padding: 1rem;
  position: sticky;
  top: 0;
  left: 0;
  border-radius: 8px;
  z-index: 100;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  color: white; /* Garante contraste */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease-in-out;
}

.nav .inner-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1300px;
  margin-inline: auto;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  
}

/* LOGO */
.logo {

  font-weight: bold;
  font-size: 1.7rem; /* Tamanho aumentado para a logo */
  display: flex;
  border-radius: 8px;
  align-items: center;
}

.logo img {

  font-weight: bold;
  font-size: 2.3rem; /* Tamanho aumentado para a logo */
  display: flex;
  align-items: center;
  height: 45px;
}

.logo span {
  color: var(--luzcor);
  margin-left: 0.3rem;
  font-weight: bold;
  font-size: 1.5rem; /* Destaque maior */
  letter-spacing: 1.2px;
  transition: color 0.3s ease, transform 0.3s ease;
}


.logo:hover {
  color: black; /* Mudança de cor ao passar o mouse */
  transform: scale(1.05); /* Leve aumento para destacar */
}

.logo-icon {
  margin-right: 0.5rem; /* Margem à direita */
  color: var(--segundopreto);
}


nav ul li {
  list-style: none;
  display: inline-block;
  margin-right: 8px; /* Menor espaçamento lateral */
  padding: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  font-weight: bolder;
  margin-right: 0.5rem;
}

/* Estilo do link para remover sublinhado e ajustar cor inicial */
nav ul li a {
  text-decoration: none;
  color: #FFFF;
  font-size: 18px; /* Tamanho da fonte menor */
  display: flex;
  align-items: center;
  gap: 5px;
  transition: color 0.3s ease;
}

/* Efeito hover no item de menu */
nav ul li:hover {
  background-color:  #f4e6ba; /* Azul gelo */
  border-radius: 5px; /* Bordas arredondadas para efeito mais suave */
}

/* Efeito de rotação nos ícones ao passar o mouse */
nav ul li:hover a .fa-icon {
  transform: rotate(360deg); /* Rotação completa */
}

/* Estilo do ícone do FontAwesome */
.fa-icon {
  transition: transform 0.5s ease; /* Animação suave */
  color: #ffffff;
}

/* Alteração da cor do link ao passar o mouse */
nav ul li:hover a {
  color: #ffff; /* Azul para contraste */
}

.navs-icon-conteiner {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* Aumenta o tamanho do ícone do carrinho */
.navs-icon-conteiner svg {
  height: 1.4rem; /* Aumenta o ícone do carrinho */
}

.navs-icon-conteiner .Shopping-Cart {
  position: relative;
}

.navs-icon-conteiner .Shopping-Cart .produto-Count {
  content: "";
  position: absolute;
  background-color: red;
  width: 1rem;
  height: 1rem;
  bottom: -8px;
  left: -8px;
  border-radius: 50%;
  color: white;
  padding: 0.7rem;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Aumenta o tamanho do campo de pesquisa */
.search-input-container {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  border-bottom: 1px solid var(--corpreta);
  padding: 0.5rem;
  margin-right: 1rem;
}

/* Diminui a largura do campo de pesquisa */
.search-input-container input {
  width: 150px; /* Diminui a largura do campo de pesquisa */
  border: none;
  font-weight: bold;
  outline: none;
  background-color: transparent;
}

/* Diminui o tamanho do ícone de pesquisa */
.search-input-container svg {
  height: 1rem; /* Diminui o ícone */
  color: #808080;
}

nav ul li:hover {
  transform: translateY(-4px);
  transition: all 0.2s;
  font-weight: bold;
}

.icon-verde {
  color: green;
}

.icon-cinza {
  color: gray;
}

.menu-button {
  display: none;
}


/* Classe para Link com botão disabled */
.disabled-link {
  pointer-events: none; /* Desabilita a interação do link */
}

.disabled-link button {
  background-color: #ccc;
  color: var(--corpreta);
  font-weight: bold;
  font-size: 18px;
  border: none;
  border-radius: 15px;
  padding: 0.2rem 0.5rem;
  cursor: not-allowed;
  width: 100%; /* Faz o botão ocupar toda a largura do link */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.disabled-link button:hover {
  background-color: #ccc; /* Nenhuma mudança na cor ao passar o mouse */
  transform: none; /* Retira o efeito de transformação */
  border-radius: 15px;
}

/* Botão habilitado com o carrinho com produtos */
nav ul li button {
  color: var(--corpreta);
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  width: 100%; /* Faz o botão ocupar toda a largura do link */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: all 0.3s ease; /* Adiciona suavidade ao hover */
}

nav ul li button:hover {
  color: white;
  transform: scale(1.05); /* Leve aumento ao passar o mouse */
  border-radius: 15px;
}

/* END NAV */

/* HEADER - Estilos Globais */
header {
  background-color: #fff;
  overflow: hidden;
  padding: 1.5rem;
  border-radius: 8px;
}

header .banner-slide {
  position: relative;
}

header .banner-slide .inner-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  border-radius: 15px;
  background: linear-gradient(135deg, #1b2e42,#CCCC);
  overflow: hidden;
  animation: fadeIn 1s ease-in-out;
  box-shadow: 0px 4px 10px rgba(0, 123, 255, 0.3);
  font-family: 'Poppins', sans-serif;
  transition: all 0.3s ease-in-out;
}


header .banner-slide .left-side {
  color: #fff;
  max-width: 100%;
  z-index: 2;
}

header .banner-slide .left-side h2,
header .banner-slide .left-side h1,
header .banner-slide .left-side h3,
header .banner-slide .left-side p {
  margin: 0.5rem 0;
  color: #FFFF;
  opacity: 0;
  transform: translateY(20px);
  animation: slideInUp 0.6s ease forwards;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

header .banner-slide .right-side img {
  width: 100%;
  border-radius: 15px;
  transform: scale(0.9);
  transition: transform 0.8s ease;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

header .banner-slide .right-side img:hover {
  transform: scale(1);
}

/* Animações */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.hero-subtitle-animate-text {
  animation: slideInUp 1s ease forwards;
}

.animate-image {
  animation: fadeIn 1s ease-in-out forwards;
}


/* Oculta os botões do slide em telas menores */
@media (max-width: 768px) {
  .slider-arrows {
    display: none;
  }
}

/* Responsividade NAV, HEADER */
/* Oculta os botões do slide em telas menores */
@media (max-width: 768px) {
  .slider-arrows {
    display: none;
  }
}

/* Responsividade NAV, HEADER */
@media (max-width: 920px) {
  .nav h1 {
    font-size: 1.2rem;
  }

  header .banner-slide .inner-content {
    gap: 2rem;
    padding: 1.5rem;
    padding-top: 3rem;
  }

  header .banner-slide .left-side h2 {
    font-size: 1.8rem;
  }

  nav {
    position: absolute;
    top: 55px; /* Mantém o nav abaixo do header em telas menores */
    left: 0;
    background-color: #fff;
    width: 100%;
    padding: 1rem 0;
    display: none;
    z-index: 101; /* Garantindo que o nav fique acima do header */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  nav.show {
    display: flex;
    flex-direction: column; /* Empilha os itens */
    margin-top: 2rem;
    align-items: center; /* Centraliza os itens horizontalmente */
  }

  nav ul {
    display: flex;
    flex-direction: column; /* Empilha os itens */
    gap: 0.5rem; /* Espaçamento entre os itens */
    padding: 0;
    margin: 0;
    list-style: none;
  }

  nav ul li {
    text-align: center;
    padding: 0.8rem;
    width: 100%; /* Faz os itens ocuparem a largura total */
  }

  nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 1rem;
    display: block;
    width: 100%; /* Permite que o clique ocupe toda a área */
  }

  .menu-button {
    display: inline;
  }
  
 .logo {
    font-size: 0.5rem; /* Reduz o tamanho da logo */
    margin-left: 0; /* Ajusta a margem para melhor alinhamento */
  }

  .logo img {

    font-weight: bold;
    font-size: 0.7rem; /* Tamanho aumentado para a logo */
    display: flex;
    border-radius: 8px;
    align-items: center;
    height: 30px;
  }

  .logo span {
    font-size: 1rem; /* Diminui o tamanho do texto secundário */
  }

}

@media (max-width: 580px) {
  .search-input-container {
    display: flex !important; /* Garante que ele seja visível */
    width: 100%; /* Ocupa toda a largura disponível */
    justify-content: center; /* Centraliza o conteúdo */
    margin-top: 10px; /* Dá um espaço entre os elementos */
  }

  .search-input-container input {
    width: 100%; /* Faz o input se expandir corretamente */
    max-width: 300px; /* Define um tamanho máximo */
  }

  /* Ajusta a altura do header para o tamanho da imagem */
  header {
    height: auto; /* Altura se adapta automaticamente à imagem */
    padding: 0;
  }

 .logo {
    font-size: 1.2rem; /* Reduz o tamanho da logo */
    margin-left: 0; /* Ajusta a margem para melhor alinhamento */
  }

  .logo span {
    font-size: 1rem; /* Diminui o tamanho do texto secundário */
  }  

}

/* Responsividade para o header e conteúdo */
@media (max-width: 920px) {
  header .banner-slide .left-side h2 {
    font-size: 1.5rem;
    margin-top: 1rem;
  }

  header .banner-slide .left-side p {
    font-size: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    margin: 0 auto;
    width: 90%;
  }
}

@media (max-width: 768px) {
  header .banner-slide .right-side img {
    width: 80%;
    margin: 0 auto;
  }

  header .banner-slide .inner-content {
    padding: 0.5rem;
    flex-direction: column;
    text-align: center;
    margin-top: 0.8rem;
  }
}

@media (max-width: 580px) {
  header .banner-slide .left-side h2 {
    font-size: 1.2rem;
  }

  header .banner-slide .left-side p {
    font-size: 0.9rem;
    padding: 0.5rem;
  }
}


/* Atualizações para exibir apenas a imagem no modo celular */
@media (max-width: 768px) {
  /* Oculta o conteúdo do lado esquerdo */
  header .banner-slide .left-side {
    display: none;
  }

  /* Centraliza e ajusta a imagem no modo celular */
  header .banner-slide .right-side img {
    width: 100%; /* Imagem ocupa toda a largura disponível */
    margin: 0 auto;
    display: block;
  }

  /* Remove espaçamentos extras e ajusta o contêiner */
  header .banner-slide .inner-content {
    padding: 0;
    flex-direction: column;
  }

  /* Ajusta a altura do header para o tamanho da imagem */
  header {
    height: auto; /* Altura se adapta automaticamente à imagem */
    padding: 0;
  }
}

/* Inicio lista produtos */
.page-inner-content {
  max-width: 1280px;
  margin-inline: auto;
  padding-inline: 1rem;
  margin-top: 1rem;
}

.lista-produto {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  padding: 0 1rem; /* Adiciona algum espaçamento nas laterais */
}

.selecao-titulo h3 {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  color: #956938;
  margin-bottom: 0.5rem;
  position: relative;
}

/* Configuração geral dos produtos */
.Lista {
  min-width: 200px;
  max-width: 200px;
  padding: 0.5rem;
  border: 5px double #956938;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease;
}

.Lista:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.Lista img {
  width: 80%;
  height: auto;
  margin: 0 auto;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.Lista img:hover {
  transform: scale(1.05);
}

.selecao-titulo h3::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(4, 0, 255, 0.2); /* Efeito dourado suave */
  filter: blur(6px); /* Cria o brilho difuso */
  z-index: -1;
  opacity: 0;
  transition: opacity 0.8s ease-in-out;
}

.selecao-titulo h3:hover::after {
  opacity: 1; /* Brilho aparece ao passar o mouse */
}

.selecao-titulo .underline {
  width: 80px;
  height: 3px;
  background-color: var(--segundopreto);
  margin: 0 auto 1rem auto; /* Centraliza */
  border-radius: 1.5px; /* Deixa a linha mais elegante */
}

/* Define uma altura fixa para as imagens para manter alinhamento */
.image-container {
  height: 180px; /* Ajuste a altura conforme necessário */
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.image-container img {
  max-width: 100%;
  max-height: 100%;
  transition: transform 0.3s ease;
}

.btnPrduto {
  margin-top: auto; /* Empurra os botões para a parte inferior */
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.Lista .name {
  font-weight: bold;
  margin-top: 0.4rem;
}

.Lista .marca {
  font-size: 12px;
  margin-top: 0.4rem;
  color: #424242;
  font-weight: lighter;
}

.Lista .id {
  font-weight: bold;
  font-size: 10px;
  margin-top: 0.4rem;
}
.Lista .estoque {
  font-size: 14px;
  margin-top: 0.5rem;
}


.Lista .price,
.Lista .price2 {
  font-size: 1rem;
  margin-top: 0.3rem;
  font-weight: bold;
  margin-bottom: 0.2rem;
}

.Lista .rate {
  display: flex;
  gap: 5px; /* Espaçamento entre as estrelas */
  margin-top: 10px; /* Espaço acima das estrelas */
  align-items: center; /* Alinha as estrelas ao centro */
}

.Lista .rate .star {
  color: #d3d3d3; /* Cor das estrelas vazias (cinza claro) */
  font-size: 0.9rem; /* Tamanho da estrela */
  cursor: pointer; /* Cursor de mão ao passar por cima */
  transition: color 0.2s ease; /* Transição suave ao mudar de cor */
}

.Lista .rate .star.filled {
  color: #f8c600; /* Cor das estrelas preenchidas (amarelo dourado) */
}


/* Estiliza o preço original (riscado) */
.Lista .old-price {
  text-decoration: line-through;
  color: #888;
  font-size: 14px;
  margin-right: 5px;
}

/* Estiliza o novo preço promocional */
.new-price {
  color: #d9534f;
  font-size: 18px;
  font-weight: bold;
}


/* Botões de ação dos produtos */
.Lista .btnPrduto {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 1rem;
}

.Lista .btn-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  padding: 0.8rem;
  background-color: var(--segundopreto);
  color: #fff;
  border-radius: 8px;
  font-size: 1rem;
  transition: all 0.2s;
}

.Lista .btn-icon:hover {
  background-color:  #000;
  transform: scale(1.05);
}

.add-to-cart-btn {
  background-color: var(--segundopreto);
  color: #000;
}

.add-to-cart-btn:hover {
  background-color: #000;
  color: #fff;
}

/* Configuração de layout para até 4 colunas */
.lista-produto > div {
  flex: 1 1 calc(25% - 1rem);
  max-width: 280px;
  box-sizing: border-box;
}

/* Estilos para paginação */
.pagination {
  text-align: center;
  margin-top: auto;
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.pagination-button {
  padding: 0.6rem 1.2rem;
  margin: 0 0.3rem;
  border: none;
  border-radius: 10px;
  background-color: var(--segundopreto);
  color: #fff;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pagination-button:disabled {
  background-color: #d3d3d3;
  cursor: not-allowed;
}

.pagination-button:hover:not(:disabled) {
  background-color: #000;
}

.pagination span {
  font-size: 1rem;
  font-weight: bold;
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
  .lista-produto > div {
    flex: 1 1 calc(50% - 1rem); /* Duas colunas */
  }
  .pagination-button {
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
  }
  .pagination span {
    font-size: 0.9rem;
  }
  .Lista .name,
  .Lista .id,
  .Lista .price,
  .Lista .marca {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .lista-produto > div {
    flex: 1 1 100%; /* Uma coluna */
  }
  .pagination-button {
    padding: 0.4rem 0.8rem;
    font-size: 0.8rem;
  }
  .pagination {
    gap: 0.5rem;
  }
  .Lista .name,
  .Lista .price,
  .Lista .marca {
    font-size: 1.2rem;
  }
}


/* inicio sessao exclusiva */
.selecao-titulo h3 {
  text-align: center;
  font-size: 2rem;
  color: var(--segundopreto); /* Azul-marinho */
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.selecao-titulo .underline {
  width: 100px;
  height: 3px;
  background-color: #000;
  margin: 0 auto 1rem auto; /* Centraliza a underline */
}

/* final lista produto */

.sessao-exclusiva {
  background:linear-gradient(135deg, #1b2e42,#CCCC);
  width: 100vw;
  margin-left: calc((100vw - 100%) / -2);
  padding: 5rem 1rem;
  overflow: hidden; /* Para controlar o efeito fora da tela */
}

.sessao-exclusiva .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  color: #fff;
  flex-direction: row-reverse;
  max-width: 1600px;
  margin: 0 auto;
}

.sessao-exclusiva .content .left-side {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 400px;
}

.sessao-exclusiva .content .left-side h2 {
  font-size: 2.5rem;
  color: #fff;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

.sessao-exclusiva .content .left-side p {
  font-size: 1.2rem;
  color: #f0f0f0;
}

/* Efeito de animação de "saída da tela" */
.sessao-exclusiva .content .right-side img {
  max-width: 400px;
  border-radius: 10px;
  transition: transform 0.5s ease, box-shadow 0.3s ease;
  transform-origin: center;
}

.sessao-exclusiva .content .right-side img:hover {
  transform: scale(1.1) translateX(20px) rotate(10deg); /* Faz a imagem parecer sair para a direita e girar */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.btnveragora1 {
  background-color: var(--segundopreto);
  padding: 0.8rem 1rem;
  border-radius: 8px;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: bold;
}

.btnveragora1:hover {
  background-color: #000;
  transform: translateX(5px);
}

@media (max-width: 768px) {
  .sessao-exclusiva .content {
    flex-direction: column;
    text-align: center;
  }

  .sessao-exclusiva .content .right-side img {
    max-width: 250px;
    margin-bottom: 2rem;
    transform: none; /* Remove o efeito em telas pequenas */
  }
}

/* Inicion comentarios positivos */
.comentarios {
  display: flex;
  flex-wrap: wrap; /* Permite que os comentários "quebrem" linha em telas menores */
  padding: 4rem 1rem;
  justify-content: space-evenly; /* Espaçamento uniforme entre os itens */
  gap: 1.5rem; /* Espaçamento consistente entre os itens */
}

.comentario {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: 0px 0px 15px hsl(0, 0%, 39%);
  padding: 1rem;
  border-radius: 1rem;
  transition: all 0.2s;
  gap: 0.6rem;
  font-weight: var(--corpreta);
  flex: 1 1 calc(33.33% - 2rem); /* Ocupa um terço da largura, com espaçamento */
  max-width: 300px; /* Limita a largura máxima de cada comentário */
}

.comentario .rate {
  color: #e07800;
}

.comentario:hover {
  transform: translateY(-5px);
}

.comentario p:first-child {
  font-weight: bold;
  font-size: 2rem; /* Ajusta o tamanho do texto */
  color: var(--seconda-cor);
  margin-top: 1rem;
  line-height: 2rem;
}

/* Responsividade */
@media (max-width: 768px) {
  .comentario {
    flex: 1 1 calc(50% - 2rem); /* Ocupa metade da largura em telas médias */
  }
}

@media (max-width: 480px) {
  .comentario {
    flex: 1 1 100%; /* Ocupa 100% da largura em telas pequenas */
    max-width: none; /* Remove a largura máxima */
  }

  .comentario p:first-child {
    font-size: 1.5rem; /* Ajusta o tamanho da fonte para telas pequenas */
  }
}

/* Final comentarios positivos */


/* Início Rodapé */
footer {
  background-color: var(--segundopreto);
  color: #fff;
  width: 100vw; /* Define a largura para ocupar toda a viewport */
  margin-left: calc((100vw - 100%) / -2); /* Corrige o alinhamento */
  padding: 2rem 1rem;
  text-align: center;
  font-family: Arial, sans-serif;
}

footer .pager-inner-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  max-width: 1600px; /* Limita o conteúdo para um layout responsivo */
  margin: 0 auto; /* Centraliza o conteúdo dentro do rodapé */
}

footer .download-options p {
  margin: 0.5rem 0;
  font-size: 1rem;
}

footer a img {
  width: 50px;
  height: 50px;
  margin: 0 10px;
  transition: transform 0.3s ease;
}

footer a img:hover {
  transform: scale(1.1);
}

footer .logo-footer .logo {
  font-size: 2rem;
  font-weight: bold;
  color: white;
}

footer .logo-footer p {
  margin-top: 1rem;
  font-size: 0.9rem;
  line-height: 1.5;
  color: #fff;
}



footer hr {
  margin: 2rem auto; /* Centraliza horizontalmente */
  border: 1px solid rgba(255, 255, 255, 0.2);
  width: 80%; /* Ajusta a largura da linha */
}

footer .copyright {
  font-size: 0.8rem;
  color: #d1d1d1;
  margin-top: 1rem;
}
/* Final Rodapé */

/* Início Lista Carinho */
.sidebar-cart {
  background-color: #fff;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 2;
  width: 100%;
  max-width: 400px;
  padding: 2rem;
  box-shadow: 5px 5px 50px var(--seconda-cor);
  height: 100%;
  overflow-y: auto;
  scrollbar-width: none;
}

.sidebar-cart .total-container{
color: black;
margin-top: 1rem;
}

.sidebar-cart .lista-produto-carinho{
 color: black;
 
}

.sidebar-cart::-webkit-scrollbar {
  display: none;
}

.sidebar-cart .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.sidebar-cart .top h3 {
  font-size: 1.5rem;
  color: var(--corpreta); /* Completar com uma cor */
}

.sidebar-cart .top button {
  background-color: var(--corpreta);
  color: #fff;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lista-produto-carinho {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--luzcor);
}

.total-conteiner {
  font-size: 1.2rem;
  color: var(--corpreta);
  margin: 1rem 0;
  font-weight: bold;
}

.btn-icon {
  background-color: var(--seconda-cor);
  color: #fff;
  text-align: center;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  font-weight: bold;
  font-size: 1rem;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.btn-icon:hover {
  background-color: darken(var(--seconda-cor), 10%);
}

/* Estilo do texto "Seu Carinho está vazio" */
.sidebar-cart i {
  font-size: 0.9rem;
  color: #888;
  display: block;
  text-align: center;
  margin-top: 1rem;
}

/* Início Produto do Carinho */
.sidebar-produto {
  display: flex;
  width: 100%;
  padding: 0.5rem;
  gap: 1rem;
  align-items: center;
  border-bottom: 1px solid var(--luzcor);
}

.sidebar-produto .left-side {
  flex-shrink: 0;
}

.sidebar-produto .remove-produto-btn {
  background-color: var(--corpreta);
  color: #fff;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar-produto .details {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.sidebar-produto .details h4 {
  font-size: 1rem;
  color: var(--corpreta);
  margin: 0;
}

.sidebar-produto .details p {
  font-size: 0.9rem;
  margin: 0;
}

.sidebar-produto .details .price-sum {
  font-weight: bold;
}

.sidebar-produto .details input[type="number"] {
  width: 60px;
  padding: 0.2rem;
  border: 1px solid var(--corpreta);
  border-radius: 3px;
  text-align: center;
}

.sidebar-produto .right-side img {
  width: 100px;
  height: auto;
  border-radius: 5px;
}

.btn-icon1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  padding: 0.8rem;
  background-color: var(--segundopreto);
  color: #fff;
  font-weight: bold;
  border-radius: 8px;
  font-size: 1rem;
  margin-top: 1rem;
  margin-left: 7rem;
  transition: all 0.2s;
}

.btn-icon1:hover {
  background-color: #000; /* Cor de fundo ao passar o mouse */
  transition: color 0.3s; /* Transição suave na cor */
}

/* Final Produto do Carinho */


/* Inicio btn ver mais*/

.btnvermais {
  display: block; /* Para permitir centralização */
  margin: 20px auto; /* Margem superior/inferior de 20px e centraliza horizontalmente */
  padding: 10px 40px; /* Espaçamento interno do botão */
  background-color: var(--segundopreto); /* Cor de fundo inicial (azul) */
  color: white; /* Cor do texto */
  border: none; /* Sem borda */
  border-radius: 5px; /* Bordas arredondadas */
  font-size: 20px; /* Tamanho da fonte */
  cursor: pointer; /* Muda o cursor para indicar que é clicável */
  transition: background-color 0.3s; /* Transição suave para a mudança de cor */
  font-weight: bold;
}

.btnvermais:hover {
  background-color: #000; /* Cor de fundo ao passar o mouse */
}

.btnvermais .svg-inline--fa {
  color: white; /* Cor do ícone */
  transition: color 0.3s; /* Transição suave na cor */
}

.btnvermais:hover .svg-inline--fa {
  color: var(--primeiropreto); /* Cor do ícone ao passar o mouse */
}


/* Início Pagamento */

.pagamento-container {
  padding: 20px;
  max-width: 800px;
  margin: 20px auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-family: 'Arial', sans-serif;
  background-color: #fefefe;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.pagamento-title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
  text-align: center;
}

.produtos-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 4 colunas de largura igual */
  gap: 20px; /* Espaçamento entre os itens */
  margin-top: 15px;
  padding-top: 15px;
}

.produto-item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.produto-imagem {
  width: 80px;
  height: 80px;
  margin-right: 15px;
  border-radius: 8px;
  object-fit: cover;
}

.produto-info {
  flex: 1;
}

.produto-nome {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  color: #333;
}

.produto-quantidade,
.produto-preco {
  font-size: 14px;
  color: #666;
}

.pagamento-total {
  font-size: 20px;
  font-weight: bold;
  margin-top: 15px;
  color: #333;
  text-align: right;
}

.pagamento-prazo {
  font-size: 16px;
  margin-top: 10px;
  color: #555;
}

.pagamento-endereco-container {
  margin-top: 25px;
}

.pagamento-endereco-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
  color: #333;
}

.pagamento-endereco-input,
.pagamento-endereco-textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 14px;
  background-color: #fdfdfd;
}

.pagamento-retirar-loja{
  font-size: 18px;
  margin-top: 0.5rem;
  margin-bottom: 0.7rem;  
}

.pagamento-buttons-container {
  display: flex;
  gap: 15px;
  justify-content: space-between;
}

.pagamento-buscar-cep-btn,
.pagamento-calcular-frete-btn {
  background-color: var(--segundopreto);
  color: white;
  border: none;
  font-weight: bold;
  padding: 12px 20px;
  font-size: 14px;
  border-radius: 8px;
  margin-bottom: 1rem;
  cursor: pointer;
  flex: 1;
  text-align: center;
  transition: background-color 0.3s ease;
}

.pagamento-buscar-cep-btn:hover,
.pagamento-calcular-frete-btn:hover {
  background-color: var(--segundopreto);
}

.copiar-pix-btn {
  background-color: var(--seconda-cor);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.copiar-pix-btn:hover {
  background-color: #000;
}

.qr-code-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  margin-top: 2rem;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 300px;
}

.qr-code-container h3 {
  margin-bottom: 20px;
  font-size: 18px;
  color: #333;
}

.qr-code-container p {
  margin-top: 20px;
  font-size: 14px;
  color: #666;
}

.qr-code-container canvas {
  margin: 10px 0;
}

.pagamento-metodos {
  margin: 20px 0;
  padding: 20px;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.pagamento-metodos h3 {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 15px;
}

.pagamento-metodos label {
  display: block;
  margin: 10px 0;
  font-size: 1.2rem;
  color: #555;
  cursor: pointer;
}

.pagamento-metodos input[type="radio"] {
  margin-right: 10px;
  transform: scale(1.2);
  cursor: pointer;
}

.pagamento-metodos label:hover {
  color: #000;
}

.pagamento-metodos input[type="radio"]:checked + label {
  font-weight: bold;
  color: #007bff;
}

.pagamento-finalizar-compra-btn {
  display: inline-block;
  background-color: var(--segundopreto);
  color: #fff;
  padding: 15px 20px;
  border: none;
  border-radius: 8px;
  font-weight:bold;
  cursor: pointer;
  font-size: 20px;
  margin-top: 20px;
  text-align: center;
  transition: background-color 0.3s ease;
  width: 100%;
}

.pagamento-finalizar-compra-btn:hover {
  background-color: #000;
}
/* Fim Pagamento */

/* configura cartao */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.modal-content h3 {
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}

.modal-content label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: #555;
}

.modal-content input,
.modal-content select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.modal-actions {
  display: flex;
  justify-content: space-between;
}

.save-button,
.cancel-button {
  padding: 10px 20px;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.save-button {
  background: #28a745;
  color: white;
}

.save-button:hover {
  background: #218838;
}

.cancel-button {
  background: #dc3545;
  color: white;
}

.cancel-button:hover {
  background: #c82333;
}

/* fim configura cartao */

/* Loading.css */
.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Para centralizar na tela */
}

.loading-circle {
  border: 8px solid #f3f3f3; /* Cor de fundo */
  border-top: 8px solid var(--segundopreto); /* Cor da bolinha */
  border-radius: 50%;
  width: 50px; /* Tamanho da bolinha */
  height: 50px; /* Tamanho da bolinha */
  animation: spin 1s linear infinite; /* Animação de rotação */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Estilo geral da página */

/* Contêiner do login */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f4f4f9; /* Cor de fundo clara e agradável */
  padding: 20px;
  box-sizing: border-box;
}

/* Contêiner do formulário */
.login {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  background-color: #fff;
  text-align: center;
}

/* Título do login */
.login-title {
  font-size: 24px;
  color: var(--segundopreto);
  font-weight: bold;
  margin-bottom: 20px;
}

/* Estilo dos campos de input */
.login-input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  transition: border-color 0.3s ease;
}

/* Efeito de foco nos inputs */
.login-input:focus {
  border-color: var(--segundopreto);
  outline: none;
}

/* Estilo do botão de login */
.login-button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: var(--segundopreto);
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Efeito ao passar o mouse sobre o botão */
.login-button:hover {
  background-color: var(--segundopreto);
}

/* Desabilitar botão quando em carregamento */
.login-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Estilo para mensagens */

.login-error {
  color: red;
  font-size: 14px;
  margin-bottom: 10px;
}

.login-message {
  color: green;
  font-size: 14px;
  margin-bottom: 10px;
}

/* Estilo do botão de cadastro */
.go-to-cadastro {
  font-size: 14px;
  color: var(--segundopreto);
  margin-top: 20px;
  background: none;
  border: none;
  cursor: pointer;
}

.go-to-cadastro p{
  color: red;
  font-size: 14px;
  text-align: center;  
}

.go-to-cadastro:hover {
  color: var(--segundopreto);
  font-weight: bold;
}

/* Layout responsivo */
@media (max-width: 768px) {
  .login {
    padding: 15px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }

  .login-title {
    font-size: 20px;
  }

  .login-input {
    font-size: 12px;
    padding: 8px;
  }

  .login-button {
    font-size: 14px;
    padding: 8px;
  }

  .go-to-cadastro {
    font-size: 12px;
  }
}
/* Estilo geral da página */

/* Efeito ao passar o mouse sobre o botão */
.registro button:hover {
  background-color: var(--segundopreto); /* Cor mais clara ao passar o mouse */
}

/* Estilo do link de login */
.registro a {
  font-size: 16px;
  color: #555;
  text-align: center;
  margin-top: 20px;
}

.registro a {
  color:  var(--segundopreto);
  text-decoration: none;
  font-weight: bold;
}

.registro a:hover {
  text-decoration: underline;
}

/* Estilo para a mensagem de erro */
.registro p {
  color: red;
  font-size: 14px;
  margin-top: 10px;
  text-align: center;
}

/* Estilo geral da página */

/* Contêiner do registro */
.registro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
}

/* Contêiner do formulário (ajustado para ficar pequeno, como o login) */
.registro-form-container {
  width: 100%;
  max-width: 300px; /* Define a largura máxima do formulário */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  margin-top: 20px;
  font-weight: bold;
}

/* Título do registro */
.registro h2 {
  font-size: 35px; /* Tamanho de fonte menor */
  color: var(--segundopreto); /* Azul marinho */
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

/* Estilo do contêiner para centralizar e limitar largura */
.registro {
  max-width: 400px; /* Largura máxima do contêiner */
  margin: 0 auto; /* Centraliza na página */
  padding: 20px; /* Adiciona espaçamento interno */
}

/* Estilo dos campos de input */
.registro input {
  width: 100%; /* Campo ocupa toda a largura do contêiner */
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #7a7a7a;
  border-radius: 5px;
  font-size: 16px;
  transition: all 0.3s ease;
}

/* Efeito de foco nos inputs */
.registro input:focus {
  border-color: var(--segundopreto); /* Cor azul marinho no foco */
  outline: none;
}

/* Estilo do botão de registro */
.registro button {
  width: 100%; /* O botão ocupa toda a largura do contêiner */
  padding: 10px;
  background-color: var(--segundopreto); /* Azul marinho */
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Estilo do link para login */
.registro .login-register a {
  color: var(--segundopreto);
  text-decoration: none;
  font-weight: bold;
}

.registro .login-register a:hover {
  text-decoration: underline;
}


/* Container principal */
.produto-detalhe {
  display: flex;
  flex-direction: row;
  gap: 40px;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  flex-wrap: wrap;
  background-color: #f9f9f9;
}

/* Estilo das imagens */
.produto-imagens {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  max-width: 600px;
}

.produto-imagens img {
  width: 100%;
  max-height: 600px;
  object-fit: contain;
  border-radius: 15px;
  transition: opacity 0.3s ease-in-out;
}

.produto-imagens .produto-imagem-principal {
  display: block;
}

.produto-imagens .left {
  left: 10px;
}

.produto-imagens .right {
  right: 10px;
}

/* Informações do produto */
.produto-info {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 600px;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.produto-info h1 {
  font-size: 32px;
  font-weight: bold;
  color: #333;
}

.produto-info .descricao {
  font-size: 16px;
  line-height: 1.6;
  color: #666;
}

.produto-info .marca {
  font-size: 18px;
  color: #333;
  font-weight: bold;
}

.produto-info .estoque {
  font-size: 18px;
  color: #128C7E;
  font-weight: bold;
}

.produto-info .preco,
.produto-info .preco-varejo {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}


.produto-info .btn-produto {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.produto-info .btn-produto button {
  background-color: var(--segundopreto);
  color: white;
  padding: 12px 20px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: background-color 0.3s ease;
}

.produto-info .btn-produto button:hover {
  background-color: #000;
}

.produto-info .btn-produto .btn-icon {
  display: flex;
  align-items: center;
  gap: 8px;
}

.produto-info .btn-produto .add-to-cart-btn {
  background-color: var(--segundopreto);
}

.produto-info .btn-produto .add-to-cart-btn:hover {
  background-color: #000;
}

.produto-info .btn-produto .btn-icon span {
  font-weight: bold;
}

.btn-prev, .btn-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  border-radius: 15px;
  cursor: pointer;
  z-index: 10;
  transition: background-color 0.3s;
}

.btn-prev:hover, .btn-next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.btn-prev {
  left: 10px;
}

.btn-next {
  right: 10px;
}

/* Responsividade */
@media (max-width: 768px) {
  .produto-detalhe {
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

  .produto-imagens,
  .produto-info {
    flex: none;
    width: 100%;
    max-width: 100%;
  }

  .produto-info {
    padding: 10px;
  }

  .produto-imagens img {
    max-height: 400px;
  }

  .produto-info h1 {
    font-size: 24px;
  }

  .produto-info .preco,
  .produto-info .preco-varejo {
    font-size: 20px;
  }

  .produto-info .btn-produto button {
    font-size: 14px;
    padding: 10px 15px;
  }
}

/* Responsividade */
@media (max-width: 768px) {
  .produto-detalhe {
    flex-direction: column; /* Altera para coluna em telas pequenas */
    padding: 1rem;
  }

  .produto-imagens {
    order: 2;
    flex: 1 1 100%;
  }

  .produto-info {
    order: 1;
    flex: 1 1 100%;
  }
}

@media (max-width: 480px) {
  .produto-info h1 {
    font-size: 2rem;
  }

  .produto-info .preco {
    font-size: 1.2rem;
  }

  .produto-info .btn-produto .btn-icon {
    font-size: 0.9rem;
    padding: 0.6rem 1rem;
  }
}
/* Inicio Sobre Nos */
.sobre-nos {
  text-align: center;
  padding: 3rem 1.5rem;
  background: linear-gradient(to right, #1b2e42,#ffffff);
  color: #fff;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  border-radius: 10px; /* Bordas arredondadas no container */
  margin-top: 3rem; /* Distância do topo */
  overflow: hidden; /* Previne conteúdos extras visíveis */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.texto-sobre-nos h1 {
  font-size: 2.8rem;
  color:  var(--corpreta); /* Cor para título principal */
  margin-bottom: 1rem;
  animation: fade-in 1.5s ease-out; /* Animação de entrada */
}

.texto-sobre-nos h2 {
  font-size: 2.2rem;
  color: #fff; /* Cor para o subtítulo */
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.texto-sobre-nos p {
  font-size: 1.2rem;
  line-height: 1.8;
  margin-bottom: 1rem;
  animation: slide-up 1.2s ease-out; /* Animação de subida */
}

.icone {
  font-size: 3.5rem; /* Ícones maiores */
  color: black; /* Ícones pretos */
  margin-right: 10px;
}

.diferenciais {
  list-style-type: none;
  padding-left: 0;
  margin-top: 2rem;
  font-size: 1.2rem;
  text-align: center;
}

.diferenciais li {
  margin-bottom: 0.8rem;
  color: #fff; /* Cor para os diferenciais */
}

.diferenciais li::before {
  content: "•"; /* Usando o caractere de bolinha */
  font-size: 2.5rem; /* Tamanho maior para as bolinhas */
  color: #fff; /* Cor personalizada para as bolinhas */
  margin-right: 5px; /* Espaçamento entre a bolinha e o texto */
  vertical-align: middle; /* Alinha a bolinha ao meio do texto */
  font-weight: bold;
}

.chamada-para-acao {
  font-size: 1.3rem;
  font-weight: bold;
  margin-top: 2rem;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.informacoes-adicionais p {
  font-size: 1.1rem;
  margin-top: 1rem;
  color: var(--corpreta);
}

.informacoes-adicionais strong {
  color: #fff; /* Amarelo forte para destaque */
}

.whatsapp-container {
  margin-top: 3rem;
}

.whatsapp-btn {
  background-color: #03a13d; /* Cor do WhatsApp */
  color: white;
  padding: 12px 30px;
  font-size: 1.2rem;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.whatsapp-btn:hover {
  background-color: #07e6cc;
  transform: scale(1.05); /* Efeito de zoom ao passar o mouse */
}

/* Animações */
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slide-up {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Final Sobre Nos */

/* Botão para abrir o menu */
.menu-toggle {
  position: fixed;
  top: 20px;
  left: 20px;
  background: var(--segundopreto);
  font-weight: bold;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  z-index: 1001;
  transition: 0.3s;
}

.menu-toggle:hover {
  background: black;
}

/* Estilizando o menu lateral */
.menu-categoria {
  width: 250px;
  height: 100vh;
  position: fixed;
  top: 85px;
  left: -250px; /* Inicia escondido */
  background: #ffffff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  border-radius: 8px;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.2);
  padding-top: 20px;
  transition: all 0.3s ease-in-out;
  overflow-y: auto; /* Adiciona barra de rolagem */
  z-index: 1000;
}

/* Quando o menu estiver aberto */
.menu-categoria.aberto {
  left: 0;
}

/* Botão para fechar o menu */
.fechar-menu {
  position: absolute;
  top: 10px;
  right: 15px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

/* Lista do menu */
.menu-categoria ul {
  list-style: none;
  border-radius: 8px;
  padding: 20px;
  margin: 0;
  max-height: 80vh; /* Limita a altura da lista */
  overflow-y: auto; /* Adiciona barra de rolagem apenas à lista */
}

.menu-categoria li {
  padding: 12px;
  border-bottom: 1px solid #ddd;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.menu-categoria li:hover {
  background: linear-gradient(to right, #1b2e42,#ffffff);
  transform: translateY(-8px); /* Elevação mais pronunciada */
  box-shadow: 0 8px 16px rgba(0, 149, 199, 0.3);
}

/* Responsividade */
@media (max-width: 768px) {
  .menu-categoria {
    width: 100%;
    height: 100vh;
    left: -100%; /* Esconde completamente no mobile */
  }
  .menu-categoria.aberto {
    left: 0;
  }
  .menu-toggle {
    top: 15px;
    left: 15px;
    padding: 8px 12px;
    font-size: 14px;
  }
}


.loading-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}


/* Estilo para o container principal */
.contato-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  background: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/* Título */
.contato-container h2 {
  text-align: center;
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

/* Seção de informações */
.info-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  gap: 10px;
  flex-wrap: wrap;
}

.info-container div {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #555;
}

.info-container span {
  margin-left: 8px;
}

/* Formulário */
.contato-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contato-form input,
.contato-form textarea {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background: #fff;
  transition: all 0.3s ease-in-out;
}

.contato-form input:focus,
.contato-form textarea:focus {
  outline: none;
  border-color: var(--segundopreto);
  background: #f0f8ff;
}

.contato-form textarea {
  resize: none;
  height: 100px;
}

/* Botão */
.contato-form button {
  padding: 10px 15px;
  font-size: 16px;
  color: #fff;
  background: var(--segundopreto);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition:  0.3s ease-in-out;
}

.contato-form button:hover {
  background: #000;
}

.contato-form button:disabled {
  background: #ccc;
  cursor: not-allowed;
}

/* Mapa início */

.mapa-container {
  text-align: center;
  margin: 0; /* Remove margens */
  padding: 0;
  width: 100%; /* Ocupa toda a largura */
  border-radius: 15px;
  
}

/* Título */
.mapa-title {
  font-size: 1.8rem;
  color: #333;
  margin-bottom: 10px;
  font-family: Arial, sans-serif;
}

/* Wrapper da imagem do mapa */
.mapa-wrapper {
  cursor: pointer;
  border-radius: 15px; /* Remove bordas arredondadas para tela inteira */
  overflow: hidden;
  position: relative;
  width: 100%; /* Largura total da tela */
}

/* Imagem do mapa */
.mapa-imagem {
  width: 100vw; /* 100% da largura da viewport */
  height: 400px; /* Altura fixa */
  object-fit: cover; /* Mantém a proporção e cobre o container */
  transition: transform 0.5s ease-in-out; /* Suavização */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Texto abaixo do mapa */
.mapa-texto {
  margin-top: 10px;
  color: var(--corpreta);
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

/* Responsividade */

/* Telas médias: Tablets */
@media (max-width: 768px) {
  .mapa-title {
    font-size: 1.5rem; /* Reduz tamanho da fonte */
  }

  .mapa-imagem {
    height: 300px; /* Reduz altura da imagem */
  }

  .mapa-texto {
    font-size: 0.9rem; /* Ajusta tamanho do texto */
  }
}

/* Telas pequenas: Smartphones */
@media (max-width: 480px) {
  .mapa-title {
    font-size: 1.2rem; /* Título menor */
  }

  .mapa-imagem {
    height: 200px; /* Reduz altura da imagem */
  }

  .mapa-texto {
    font-size: 0.8rem; /* Ajusta tamanho do texto */
  }
}

/* Telas muito pequenas */
@media (max-width: 320px) {
  .mapa-title {
    font-size: 1rem; /* Título ainda menor */
  }

  .mapa-imagem {
    height: 150px; /* Altura mínima */
  }

  .mapa-texto {
    font-size: 0.7rem; /* Texto mais compacto */
  }
}

/* Mapa fim */

/* Estilos para o formulário de pagamento */
.formade-credito {
  font-family: Arial, sans-serif;
  margin: 20px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

/* Contêiner das opções de pagamento */
.opcoes-pagamento {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

/* Estilo dos botões */
.btn-pagamento {
  background-color: var(--segundopreto); /* Azul marinho */
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-pagamento:hover {
  background-color: #000; /* Azul mais escuro */
}

/* Estilo do parágrafo que exibe o método de pagamento escolhido */
.metodo-selecionado {
  font-size: 18px;
  color: #333;
  margin-top: 20px;
}

.limite-credito{
font-size: 24px; 
font-weight: bold;
margin-top: 2rem; 
}

/* Pedido.css */
.pedido-container {
  max-width: 1000px; /* Aumentei o máximo para acomodar múltiplos pedidos */
  margin: 40px auto;
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  text-align: center;
  font-family: 'Arial', sans-serif;
  display: flex; /* Define o container como flex */
  flex-wrap: wrap; /* Permite que os pedidos se ajustem para novas linhas se necessário */
  gap: 20px; /* Espaçamento entre os pedidos */
}

.pedido-container h2 {
  color: #333;
  margin-bottom: 12px;
  width: 100%; /* Para garantir que o título ocupe toda a largura disponível */
}

.pedido-detalhes {
  background: #f9f9f9;
  padding: 15px;
  border-radius: 8px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
  margin-bottom: 0.5rem;
  flex: 1 0 45%; /* Isso garante que os pedidos ocupem 45% da largura do container */
  box-sizing: border-box; /* Para incluir o padding na largura total */
  min-width: 300px; /* Tamanho mínimo para que os pedidos não fiquem muito pequenos */
}

.pedido-detalhes p {
  font-size: 16px;
  margin: 8px 0;
  color: #444;
}

.pedido-detalhes p strong {
  color: black;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.pedido-liberacao {
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
  display: inline-block;
  margin-top: 10px;
}

.pedido-liberacao.analise {
  color: #d39e00;
  background: #fff3cd;
}

.pedido-liberacao.liberado {
  color: #15aa38;
  background: #d4edda;
}

.pedido-carregando {
  font-size: 18px;
  color: #888;
  margin-top: 20px;
}
